---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Happy National GF Day!">
	<main class="bg-purple-300 h-full w-full py-10 px-3">
		<h1 class="text-center font-semibold text-3xl dancing-script">
			Happy National Girlfriend Day!
		</h1>

		<div class="flex justify-center gap-5 pt-10">
			<img class="rounded-lg w-32 h-32" src="cat-2.jpg" />
			<img class="rounded-lg w-32 h-32" src="cat-1.jpg" />
		</div>

		<p class="mt-5 text-center font-['Roboto']">
			<span class="font-bold border-b-violet-800 border-b text-violet-800"
				>Thank You</span
			> Jasmine for being such a great girlfriend for the past OMG ALMOST 4
			MONTHS??

			<br />
		</p>

		<p class="mt-5 text-center font-['Roboto']">
			Before I write anything else to you, I'd like to show you some
			random photos of us recently.
		</p>

		<div class="flex flex-col gap-5 mt-5 items-center">
			<img src="pic-1.jpg" />
			<img src="pic-2.jpg" />
			<button
				onclick="test()"
				class="click-me bg-purple-500 text-white w-fit p-3 rounded-lg"
				>Click Me!</button
			>
			<img id="funny" class="hidden" src="pic-3.jpg" />
		</div>

		<div class="mt-5 font-['Roboto']">
			<h1 class="text-center">Okay... now onto my message to you!</h1>

			<p class="mt-10 dancing-script text-2xl">Dear Jasmine,</p>
			<div class="flex flex-col gap-3 patrick-hand">
				<p>
					I wanted to start this letter by saying I really appreciate
					everything that you have put into this relationship so far.
				</p>

				<p>
					We have gone through quite a few challenges this summer. It
					also honestly has not been the most easy experience. In
					spite of this, I genuinely believe that it has been very
					rewarding to be in a relationship with you.
				</p>

				<p>
					In spite of these challenges, I feel like I have learned a
					lot on what it means to be a good boyfriend for you and the
					importance of not being a perfectionist.
				</p>
			</div>
		</div>
	</main>
</Layout>
<style>
	@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
	.dancing-script {
		font-family: "Dancing Script", cursive;
		font-optical-sizing: auto;
	}
	.patrick-hand {
		font-family: "Patrick Hand", cursive;
		font-style: normal;
	}
</style>

<script>
	const buttons = document.querySelectorAll("button.click-me")

	// Handle clicks on each button.
	buttons.forEach((button) => {
		button.addEventListener("click", () => {
			const element = document.getElementById("funny")
			if (element) {
				element.classList.remove("hidden")
			}
		})
	})
</script>
