---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Happy National GF Day!">
	<main class="bg-purple-300 h-screen w-screen py-10">
		<h1 class="text-center font-semibold text-3xl dancing-script">
			Happy National Girlfriend Day!
		</h1>

		<div class="flex justify-center gap-5 pt-10">
			<img class="rounded-lg w-32 h-32" src="cat-2.jpg" />
			<img class="rounded-lg w-32 h-32" src="cat-1.jpg" />
		</div>

		<p class="mt-5 text-center font-['Roboto']">
			<span class="font-bold border-b-black border-b">Thank You</span> Jasmine
			for being such a great girlfriend for the past OMG ALMOST 4 MONTHS??

			<br />
		</p>

		<p class="mt-5 text-center font-['Roboto']">
			Before I write anything else to you, I'd like to show you some
			random photos of us recently.
		</p>
	</main>
</Layout>
<style>
	@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
	.dancing-script {
		font-family: "Dancing Script", cursive;
		font-optical-sizing: auto;
	}
</style>
