---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Happy National GF Day!">
	<main class="bg-purple-300 h-screen w-screen py-10">
		<h1 class="text-center font-semibold text-2xl">
			Happy National Girlfriend Day!
		</h1>
	</main>
</Layout>
